* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/background.jpg");
	margin: 0;
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	min-width: 100vw;
}

.card-name {
	color:black;
	margin: 10px;
}

.card-body {
	padding: 20px;
}



container {
	min-height: 75vh;
	padding: 20px;
}

.navbar-right > li.nav-link {
	float: inline-end, right;
}

.navbar-brand {
	color: white;
	height: auto;
}

.mytext {
	padding-top: 20px;
	padding-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: initial;
}

@media only screen and (max-width: 600px) {
	img {
		display: block;
		float: left;
		margin: 0 auto 20px;
 	}
}



.spacer {
	flex: 1;
	margin-bottom: 50px;
}


footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	text-align: center;
	border-top: 5px solid darkgrey;
}
.text-center {
	max-height: 10vh;
	padding: 0.1em 0.1em;
}

#name, #email, #subject {
  Display:flex;
  flex-wrap: wrap;
}

textarea {
  width: 100%;
}

.row {
	margin: 8px -16px;
}

.row > .column {
	padding: 8px;
	  }

.column {
	float: left;
	width: 50%;
}

.webLinks {
	display: flex;
	flex-direction: row;
	
}

.multi-item-carousel{
    .carousel-inner{
      > .item{
        transition: 500ms ease-in-out left;
      }
      .active{
        &.left{
          left:-33%;
        }
        &.right{
          left:33%;
        }
      }
      .next{
        left: 33%;
      }
      .prev{
        left: -33%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item{
          // use your favourite prefixer here
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carouse-control{
      &.left, &.right{
        background-image: none;
      }
    }
  }
  
  // non-related styling:
  body{
    background: #333;
    color: #ddd;
  }
  h1{
    color: white;
    font-size: 2.25em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
  }